.card-counts {
    color: #868e96;
    font-size: 13px;
}

.card-region-name {
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
}

.card-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}