{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-around" style="margin-top: 30px; margin-bottom: 30px;">
  <div style="width: 150px; height: 150px;">
    <img style="width: 100%; height: 100%%;" src="{% static 'images/profile_rabbit.png' %}" alt="profile image">
  </div>
  <div>
    <h3>{{ person.username }}'s Profile</h3> <br>
    <ul>
      <li>
        <span>articles</span>
        {{ person.article_set.all|length }}
      </li>
      <li>
        <span>followers</span>
        {{ person.followers.all|length }}
      </li>
      <li>
        <span>followings</span>
        {{ person.followings.all|length }}
      </li>
    </ul>
  </div>
</div>
<form action="{% url 'accounts:follow' person.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user != person %}
    {% if request.user in person.followers.all %}
      <button class="btn btn-primary">[UnFollow]</button>
    {% else %}
      <button class="btn btn-primary">[Follow]</button>
    {% endif %}
  {% endif %}
  </form>
<hr>
<h3>게시물</h3>
<div class="d-flex justify-content-start">
  {% for article in person.article_set.all %}
      <a href="{% url 'articles:detail' article.pk %}">
      <img class="m-3" style="width: 300px; height: 300px;" src="{{ article.image.url }}" alt="{{ article.image }}">
      </a>
  {% endfor %}
</div>

{% endblock content %}