{% extends 'base.html' %}
{% block content %}
<br>
{% comment %} 윤서 수정  {% endcomment %}
{% if person.profile_image %}
  <img src="{{ person.profile_image.url }}" alt="profile_image">
{% endif %}

<h2>{{ person.username }}'s Profile</h2> <br>
<form action="{% url 'accounts:follow' person.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user != person %}
    {% if request.user in person.followers.all %}
      <button class="btn btn-primary">[UnFollow]</button>
    {% else %}
      <button class="btn btn-primary">[Follow]</button>
    {% endif %}
  {% endif %}
  followers: {{ person.followers.all|length }} // followings: {{ person.followings.all|length }}
</form>

<hr>
<h3>작성글</h3>
<ul>
  {% for article in person.article_set.all %}
    <li>{{ article.title }}</li>
  {% endfor %}
</ul>

{% endblock content %}