{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <h1>세부사항</h1>
  <hr>
  <h3>제목: {{ article.title }} ({{ article.comment_set.all|length }})</h3>
  <br>
  <img src="{{ article.image.url }}" alt="{{ article.image}}">
  <br>
  <p>내용: {{ article.content }}</p>
  <hr>
  <div class="d-inline">
    <a href="{% url 'articles:update' article.pk %}"><button class="btn btn-info">수정하기</button></a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-danger">삭제</button>
    </form>
  </div>
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-outline-secondary">제출</button>
  </form>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.content }}</li>
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}">
        {% csrf_token %}
        <button class="btn btn-danger">delete</button>
      </form>
    {% endfor %}
  </ul>
  <a href="{% url 'articles:index' %}">뒤로가기</a>
{% endblock content %}